<div class="" style="margin:30px 0 20px 0 ">
    {% if section.settings.title != blank %}
      <div class="section-header-snapppt text-center">
        <h3>{{ section.settings.title | escape }}</h3>
          <a href="{{ section.settings.btn_url | escape }}" class="btn_follow"><img src="https://cdn.shopify.com/s/files/1/0568/3983/1689/files/instagram-text-logo.svg?v=1656060397"></a>
    {% endif %}
     {% if section.settings.btn_text != blank %}
    <a href="{{ section.settings.btn_url | escape }}" class="btn_follow">{{ section.settings.btn_text | escape }}</a>
      {% endif %}
  </div>
      </div>
<div class="insta-margin">
  <script async src='https://snapppt.com/widgets/widget_loader/0f9c438a-f6a3-4af9-afa2-b3da7ffc831b/sauce_insta_shop.js' class='snapppt-widget' style="margin: 0 20rem;"></script>
</div>
  
  {% schema %}
  {
      "name": {
          "en": "SNAPPPT"
      },
      "class": "index-section snapppt-section",
      "settings": [
          {
              "type": "text",
              "id": "title",
              "label": {
                  "en": "Heading"
              }
          },
          {
              "type": "text",
              "id": "btn_text",
              "label": {
                  "en": "Buttom Title"
              }
          },
          {
              "type": "url",
              "id": "btn_url",
              "label": {
                  "en": "Button link"
              }
          }
      ],
      "presets": [
          {
              "name": {
                  "en": "SNAPPPT"
              },
              "category": "Custom"
          }
      ]
  }
  {% endschema %}
  
  <style>
    .section-header-snapppt{
      display:flex;
      align-items:center;
      justify-content:center;
    }
    
    .btn_follow img{
      margin-top:1rem;
      width:12rem;
    }
    .insta-margin{
      margin: 0 20rem;
    }
    
    @media only screen and (max-width: 600px) {
    .insta-margin{
      margin: 0
    }
}
</style>