<style>
  .lookbookHeader {
    text-align: center;
  }
  .lookbookHeader h2 {
      width: 100%;
    padding: 20px;
    background: #f3f0ea;
    color: black;
    margin-bottom: 48px;
    text-transform:uppercase;
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
  .lookbookHeader p {
    width: 100%;
    padding: 20px;
    background: #f3f0ea;
    color: black;
    margin-bottom: 48px;
  }
</style>
  <div class="lookbookHeader">
    <h2>{{ section.settings.heading }}</h2> 
    <p>{{ section.settings.subheading }}</p>
  </div>

{% schema %}
  {
    "name": "Lookbook Header",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading"
      }
    ],
    "presets": [{
      "name": "Lookbook Header"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}